@model ForexExchangeMonitoring.Application.ViewModels.CurrenciesHistoryRateViewModel
@{
    ViewBag.Title = "Forex - History";
}
<table id="currency"  class="table table-active table-bordered table-hover">
    <thead>
        <tr class="">
            <th>From Currency</th>
            <th>To Currency</th>
            <th>Exchange Rate</th>
            <th>Last Modified Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ForexHistory)
        {
            <tr style="height:60px;">
                <td>@item.FromCurrency.CurrencyName</td>
                <td>@item.ToCurrency.CurrencyName</td>
                <td>@item.ExchangeRate</td>
                <td>@item.LastRefreshedDate</td>
            </tr>
        }
    </tbody>
</table>
<br />
@Html.ActionLink("Return All Currencies", "Index", "Home")