@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ForexExchangeMonitoring.Application.ViewModels.LiveCurrenciesRateViewModel

@{
    ViewBag.Title = "Forex - Live";
}
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            From: <input type="text" name="fromCurrencySerachString" value="@ViewData["FromCurrencyFilter"]" />
            To: <input type="text" name="toCurrencySerachString" value="@ViewData["ToCurrencyFilter"]" />
            Min Rate: <input type="text" name="rateCurrencySearchString" value="@ViewData["RateCurrencyFilter"]" />
            &nbsp; <input type="submit" value="Search" class="btn btn-danger" style="height: 30px; text-align: center; line-height: 12px; margin: 20px auto; "/>&nbsp; |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table id="currency" class="table table-active table-bordered table-hover">
    <thead>
        <tr class="active">
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["FromSortParam"]">From Currency</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["ToSortParam"]">To Currency</a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["RateSortParam"]">Exchange Rate</a>
            </th>
            <th>Last Modified Date</th>
            <th>History</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ForexLiveCurrencies)
        {
            <tr style="height:60px;">
                <td>@item.FromCurrency.CurrencyName</td>
                <td>@item.ToCurrency.CurrencyName</td>
                <td>@item.ExchangeRate</td>
                <td>@item.LastRefreshedDate</td>
                <td>
                    @Html.ActionLink("History",
                                        "History", "Home",
                                    new { fromCurrencyModelId = item.FromCurrency.CurrencyModelId, toCurrencyModelId = item.ToCurrency.CurrencyModelId })
                </td>
            </tr>
        }
    </tbody>
</table>


